.animated-arrow {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  position: relative;
  margin: 0 1rem;

  span {
    top: 0.5rem;
    position: absolute;
    width: 0.6rem;
    height: 0.1rem;
    background-color: black;
    display: inline-block;
    transition: all 0.3s ease;

    &:first-of-type {
      left: 0rem;
      transform: rotate(45deg);
    }

    &:last-of-type {
      right: 0rem;
      transform: rotate(-45deg);
    }
  }
}

.animated-arrow__active > span {
  &:first-of-type {
    transform: rotate(-45deg);
  }

  &:last-of-type {
    transform: rotate(45deg);
  }
}

.animated-arrow__white > span {
  background-color: white;
}
